@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/* shared styles area */

* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

.container {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
}

.btn-primary {
    width: 174px;
    max-width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.btn-primary:hover{
    background-color:#9d3806;
}

.header-primary {
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 100px;
}

.description-primary {
    padding-top: 24px;
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
}


/* Header section styles */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.3125rem;
    max-width: 100%;
}

.logo-container {
    color: #131318;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 15px;
}

.nav-btn>nav>ul>a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.manu-bar{
    display: none;
}

.nav-txt {

    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.important {
    color: #FF5400;
    font-weight: 700;
}



/* banner section styles */

.heading-banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 3.1rem;
    text-align: center;
}

.banner-txt {
    text-align: center;
}

.banner-txt>h2 {
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 106px;

}

.banner-txt>p {
    max-width: 676px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 1.5rem auto 2rem auto;
}

.banner-find {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 68.37%;
    margin-bottom: 106px;
}

.banner-find>select {
    width: 174px;
    max-width: 174px;
    height: 52px;
    border-radius: 8px;
    color: #000;
    background: #FFF;
    padding: 0 10px;
}

.banner-find .find-logo{
    padding: 0 10px 0 0;
}


/* Popular tour styling area */

.popular-tour {
    margin-top: 100px;
}

.popular-tour-container {
    display: flex;
    gap: 53px;
}

.popular-tour-txt {
    max-width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.popular-tour-txt>h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.popular-tour-txt .first-p {
    margin: 20px 0;
}

.popular-tour-txt .second-p {
    margin: 14px 0 32px 0;

}

.popular-tour-img>img {
    width: 100%;
    height: fit-content;
}



/* Destination section style */



.destination-section {
    display: block;
}

.destination-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
}

.image-box {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
}

.image-box>img {
    width: 100%;

}

.image-box>span {
    position: absolute;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


/* Choose us section styles */

.choose-us-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    width: 100%;
    gap: 24px;
    justify-content: center;
}



.choose-us-container>div>p,
i,
h3 {
    max-width: 486px;
    padding: 0 45px 32px 32px;
}

.handpicked-box {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-top: 16px;
}

.service-box {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding-top: 16px;
}

.best-price-box {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding-top: 16px;
}


/* discount section styles */


.st-description {
    margin-bottom: 46px;
}

.discount-image-container2 {
    margin: 24px 0px;
}

.discount-image-box1 {
    border-radius: 16px;
    background-image: url('../Images/discount.png');
    background-repeat: no-repeat;
    position: relative;
    align-items: end;
    padding: 55px 0px;

}

.discount-image-box2 {
    border-radius: 16px;
    background-image: url('../Images/discount1.png');
    background-repeat: no-repeat;
    position: relative;
    align-items: start;
    padding: 55px 0px;

}

.discount-image-box3 {
    border-radius: 16px;
    background-image: url('../Images/discount.png');
    background-repeat: no-repeat;
    position: relative;
    align-items: end;
    padding: 55px 0px;

}

.discount-image-text {
    width: 49.48%;
    max-width: 579px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(1.5px);
    position: relative;
    left: 535px;
    padding-left: 24px;

}

.discount-image-text2 {
    width: 49.48%;
    max-width: 579px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(1.5px);
    position: relative;
    left: 56px;
    padding-left: 24px;

}

.discount-image-text>.time-date {
    display: inline-flex;
    gap: 54px;
    padding-top: 52px;
}

.discount-image-text2>.time-date {
    display: inline-flex;
    gap: 54px;
    padding-top: 52px;
}



.time-date>span>i{
    padding: 0 10px 10px 0;
}



.tour-santorini>h2 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 24px 0;

}

.tour-santorini>p {
    max-width: 452px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 1rem;
}

.tour-santorini>div {
    padding-bottom: 40px;
}

.package-btn {
    margin-top: 48px;
    text-align: center;
}


/* get lost section styles */

.get-lost {
    margin-top: 100px;
}

.get-lost-container {
    display: inline-flex;
    /* flex-wrap: wrap; */
    gap: 35px;
}

.get-lost-text {
    max-width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.get-lost-text>h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.get-lost-text>p {
    margin: 20px 0;
}

.get-lost-list>ul>li {
    padding-bottom: 16px;
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.get-lost-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-lost-image {
    width: 100%;
}

.get-lost-image>span {
    width: 276px;
    position: absolute;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}




/* newsleter section styles */

.newsleter-container {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    margin-top: 100px;
}



.form-container {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}


.newsleter-image-container {
    background-image: url('../Images/newsleter.png');
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 16px;
    position: relative;


}

.newsleter-image-text {

    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    /* padding-top: 25px; */
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 280px;
    top: 230px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.newsleter-image-text>p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.newsleter-image-text>h4 {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.form-container>form {
    padding-left: 40px;
    padding-top: 40px;
    margin: auto;
}

.form-container>form>h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.form-container>form>p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding: 30px 0;
}

.form-container>form>input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin: 0 26px 16px 0;
    padding-left: 10px;

}



/* Footer section styles */



.footer-section {
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);

    text-align: center;
}


.footer-container {
    text-align: center;
    margin: auto;
    max-width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 100px;
    padding-top: 110px;
}

.social-icon{
    margin-bottom: 50px;
}

.footer-container>p {
    padding: 30px 0;

}

.sindbad-logo {
    padding: 0 15px 24px 32px;
}

.copy-rights {
    width: 100%;
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.copy-rights{
    padding-top: 50px;
}

.border-line {
    width: 872px;
    height: 2px;
    
    align-items: center;
    margin: auto;
}



@media screen and (max-width: 600px) {


    .logo-container {
        font-size: 18.534px;
    }

    .logo-container>h2>i{
        padding: 0 10px 20px 0;
    }

    .heading-banner {
        background-repeat: no-repeat;
        padding-bottom: 10px;
        margin: 10px auto;
    }

    .banner-txt>h2 {
        font-size: 22px;
        padding-top: 30px;
    }

    .banner-txt>p {
        font-size: 14px;
        padding: 0 15px;
        margin: 10px 0;

    }

    .nav-btn {
        display: none;

    }
    .manu-bar{
        display: flex;
    }

    .manu-bar>i{
        padding: 0 0 0 10px;
    }

    .banner-find {

        flex-direction: column;
        width: 287px;
        align-items: center;
        gap: 16px;
        margin-top: 0;

    }

    .banner-find>select {
        width: 255px;
        max-width: 255px;
        height: 52px;
        flex-shrink: 0;
        align-items: center;
    }

    .popular-tour-container {
        flex-direction: column;
    }

    .destination-img-container {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 16px;

    }

    .kashmir,
    .srilanka {
        width: 100%;
        margin: auto;
    }

    .discount-image-text {
        position: relative;
        left: 0px;
        width: 90.44%;
        margin: auto;


    }

    .discount-image-text>.time-date {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding-top: 52px;
    }
    .discount-image-text2>.time-date {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding-top: 52px;
    }

    .discount-image-text2 {
        position: relative;
        left: 0px;
        width: 90.44%;
        margin: auto;
    }

    .tour-santorini>p>span {
        display: none;
    }

    .get-lost-container {

        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
    }

    .get-lost-image>img {
        width: 99.4%;
    }



    .newsleter-container {
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
    }

    .newsleter-image-container {
        margin-top: 16px;
        width: 390px;
        height: 300px;

    }

    .form-container {
        padding-left: 0px;
        padding-top: 0px;
        margin: auto;
        width: 100%;
    }


    .newsleter-image-text {
        width: 264.023px;
        height: 89.268px;
        top: 160px;
        left: 120px;
    }

    .form-container>form>input {
        width: 88%;
    }

    .border-line {
        max-width: 335px;
        
        align-items: center;
        margin: auto;
    }


}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .logo-container {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        padding-top: 12px;
        width: 100%;
    }
    .logo-container>h2>i{
        padding: 0 10px 10px 0;
    }

    .heading-banner {
        background-repeat: no-repeat;
        padding-bottom: 10px;
        margin: 20px auto;
    }

    .popular-tour-container {
        display: flex;
        gap: 33px;
    }

    .popular-tour-txt {
        color: rgba(19, 19, 24, 0.70);
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        max-width: 50%;
    }
    .popular-tour-img>img {
        width: 100%;
    }

    .destination-section {
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.5rem;
        margin: 80px auto;
        align-items: center;

    }



    .destination-img-container {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        align-items: center;
        justify-content: space-around;
        /* gap: 24px; */
        /* margin-top: 48px; */
    }

    .image-box{
        width: 100%;
    }

    .discount-image-text {
        position: relative;
        left: 0px;
        width: 90.44%;
        margin: auto;


    }
    .discount-image-text>.time-date {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding-top: 52px;
        left: 40px;
    }
    .discount-image-text2 {
        position: relative;
        left: 0px;
        width: 90.44%;
        margin: auto;
    }
    .get-lost-container {

        display: inline-flex;
        margin: auto;
        width: 100%;
    }
    .get-lost-image>img {
        width: 100%;
    }
    .get-lost-text {
        max-width: 45%;
        color: rgba(19, 19, 24, 0.70);
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    .newsleter-container {
        display: flex;
        justify-content: space-between;
        gap: 34px;
        margin-top: 100px;
    }
    .form-container {
        width: 50%;
        border-radius: 16px;
        border: 1px solid #FF5400;
        position: relative;
        /* margin: auto; */
    }
    .form-container>form>input {
        width: 95%;
        height: 52px;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        border: none;
        position: relative;
        /* margin: 0 32px 16px 0; */
        /* padding-right: 10px; */
    
    }
    .newsleter-image-container {
        background-image: url('../Images/newsleter.png');
        background-repeat: no-repeat;
        width: 100%;
        border-radius: 16px;
        position: relative;
    
    
    }
    .newsleter-image-text {

        width: 224px;
        height: 120px;
        transform: rotate(-19.628deg);
        border-radius: 16px;
        background: #FF5400;
        /* padding-top: 25px; */
        position: absolute;
        display: flex;
        left: 280px;
        top: 230px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

}